@layer base {
  @font-face {
    font-family: 'Pretendard Fallback';
    src: local('Apple SD Gothic Neo'), local('Malgun Gothic'), local('Noto Sans KR');
    ascent-override: 90%;
    descent-override: 22%;
    line-gap-override: 0%;
    size-adjust: 101%;
  }

  @font-face {
    font-family: 'BMJUA';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('/assets/fonts/BMJUA.woff2') format('woff2');
  }
}
